.dashboard-container {
  padding: 20px;
}

.search-bar {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.search-bar input{
  width: 30%;
  border-radius: 5px;
  height: 30px;
}

.h2tag {
  text-align: left;
}

.open-popup-button {
  padding: 4px 12px;
  width: 400px;
  border-radius: 5px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.grid-container {
  gap: 20px;
}

.category-container {
  background-color: #e3e5e6;
  padding: 20px;
  text-align: left;
  border-radius: 8px;
}
.dash{
  display: flex;
  justify-content: space-between;
  background-color: #e3e5e6;
}

.dash button{
  margin: auto;
  width: 130px;
  height: 30px;
  margin-left: 60%;
}

.widget-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.widget {
  background-color: #ffffff;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  position: relative;
}

.btndiv{
  margin: auto;
  padding: 10% 40%;
  background-color: rgb(247, 244, 244);
  border-radius: 8px;
}

.btndiv button{
  padding: 5px;
  background-color: rgb(247, 244, 244);
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(196, 194, 194);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 50%;
}

.popup-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 1000;
}

.popup-content {
  text-align: left;
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow-y: auto;
}

.popup-content h2{
  background-color: rgb(47, 47, 122);
  padding: 20px;
  color: white;
}

.category-selection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.category-item {
  padding: 10px 15px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.category-item.selected {
  border-bottom: 4px solid rgb(30, 30, 84);
  color: rgb(30, 30, 84);
}

.input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.add-widget-button,
.close-popup-button {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.add-widget-button {
  border-radius: 5px;
  background-color: #292053;
  color: #fff;
}

.close-popup-button {
  border-radius: 5px;
  background-color: #d3d0d1;
  color: black;
}
